<app-header></app-header>

<mat-form-field>
  <input type="text" matInput [(ngModel)]="testService.testProperty" />
</mat-form-field>
<mat-form-field>
  <input type="text" matInput [(ngModel)]="testService.testProperty2" />
</mat-form-field>

<button mat-button (click)="testService.clearStorage()">Clear</button>

<pre>TestProperty: {{ testService.testProperty }}</pre>
<pre>TestProperty2: {{ testService.testProperty2 }}</pre>

<router-outlet></router-outlet>
